.cardTitle {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #111111;

}

.cardText {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #585858;

}

.aiName {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #111111;

}

.aiDate {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 8px;
    color: #585858;

}

.dateIcon {
    width: 14px;
}

.features-list ol {
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    height: 95px;
    color: #585858;

}

/* modal design */

.modal-cards-body {
    background: rgba(235, 87, 87, 0.05);
    border: 1px solid #EB5757;
    border-radius: 5px;
}

.modal-cards-body:hover {
    background: rgb(177, 211, 111);
}

.modal-card1-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #111111;
}

.pricing-div {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 100px;
    border-radius: 10px;
}

.pricing1 {
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #03A30A;
    padding-top: 16px;
}

.pricing2 {
    font-weight: 800;
    font-size: 12px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #F28927;
    padding-top: 16px;

}

.pricing3 {
    font-weight: 800;
    font-size: 12px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #EB5757;
    padding-top: 16px;
}

/* accuracy */

.tool-accuray {
    position: absolute;
    left: 245px;
    top: 20px;
    background: #EB5757;
    border-radius: 4px;
    height: 25px;
}

.tool-accuray-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* media query */
/* media query for small device */
@media only screen and (max-width: 767px) {
    .tool-accuray {
        position: absolute;
        left: 255px;
        top: 20px;
        background: #EB5757;
        border-radius: 4px;
        height: 25px;
    }

    .tool-accuray-text {
        font-weight: 400;
        font-size: 10px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
}

/* media query for medium device */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .tool-accuray {
        position: absolute;
        left: 125px;
        top: 20px;
        background: #EB5757;
        border-radius: 4px;
        height: 20px;
    }

    .tool-accuray-text {
        font-weight: 500;
        font-size: 10px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .pricing-div {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        width: 60px;
        border-radius: 10px;
    }

    .pricing1, .pricing2, .pricing3 {
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        align-items: center;
        text-align: center;
        padding-top: 16px;
    }

    .cardContainer{
        display: flex;
    }
}